<!DOCTYPE html>
    <html>
    <head>
            {{movingmap.js}}
    </head>
    <body>

        <h1> Moving Dingos</h1>
        
        {{movingmap.html}}

        <button onclick='renderMarkers([60.176536,24.834275])'>Go to new position</button>

        <script type="text/javascript" charset="utf-8">

            function renderMarkers(new_location){
                movingmap_markers[0].setPosition({lat: new_location[0],lng: new_location[1]});
            }

        </script>

    </body>
</html>